<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title> E.E. Americo Franco </title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/default.css">
	<link rel="shortcut icon" href="/static/css/favicon.ico" />
	
	
</head>
<body>
	
<a href="/servidores"><img src ="/static/css/escola.jpeg" alt="" id="imagem"></img></a>
<br>
<a href="https://sed.educacao.sp.gov.br/"> Secretaria Escolar Digital </a>




	 
<button><a href="/alunos"> Alunos</a></button>
<button><a href="/servidores">Servidores</a></button>
<button><a href="/materiais">Materiais</a></button>
<button><a href="/agendamento">Agendamentos</a></button>
<button><a href="/devolucao">Devolução</a></button>

	

<form action="/pesquisa_devolucao" id="pesquisa" method="post">
	<div class="pesquisa">
		<br>
		<h1> INFORMAÇÕES RÁPIDAS.</h1>
		<br>
		<label>Pesquisa</label>
		<input type="text" name="form_busca" />
		<br>
		<br>
	
		<button type="submit"   class="btn" id="btn_busca" name ="btn_busca" onclick="pesquisa()"> Pesquisar </button>  
		<br>
		<br>
		<hr>
		
		   <!--saida html-->
		   <table id="tabela">
			<thead>
					<th>Material</th>
					<th>None</th>
					<th>Conservação</th>
					<th>Periodo_Carencia</th>
					<th>Previsão Retorno</th>
				</thead>
					<!-- Variaveis EJS-->
				<% var devolucao; %>
				<% devolucao.forEach(devolucao => { %> 
					<tr>
						<td> <%- devolucao.Descricao %></td>
						<td><%- devolucao.Nome %> </td>
						<td><%- devolucao.Conservacao %></td>
						<td><%- devolucao.Carencia %></td>
						</tr>
					
				<% }); %>			   
			</table>
			<% var error.message; %>
			<%if(devolucao == null){%>
				<% devolucao = "Sem Elementos." %>
				<%}else{%>
			<h1 id="message"><%= error.message %></h1>
			   <%}%>

	</div>
  
</form>


	
<!-- Carregar arquivo JS depois de renderizado HTML-->
<script  src="/script/pesquisa_devolucao.js"></script>
</body>

</html>
